/* 
    General Styles
*/

/* NAV-BAR WITH DROPDOWN */
.navbar {
    width: 100%;
    background-color: rgb(5, 0, 0);
    border: .1rem solid rgb(151, 235, 250);
}
#favoritesBTN {
    margin-left: 50px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2, h4, .aboutImage, h1{
    color: aliceblue;
}
.dropdown-toggle {
    margin-right:30px;
    align-content: start;
    box-shadow: none !important;
}
#delete {
    float: right;
}
.dropdown-menu {
    max-width: 5px;
    max-height:fit-content;
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* CARD CSS WITH BTNS */
.card {
    padding-bottom: 10px;
    overflow: auto;
}
#heart-btn {
    display: flex;

}
#favorite-btn {
    color: rgb(73, 97, 206);
    margin-left: 50px;
    border: none;
    background: none;
    font-size: xx-large;
    align-self: center;
 }
#find-out {
    border:rgb(50, 156, 68) solid .1rem;
    color: rgb(240, 229, 229) !important;
    background-color: rgb(121, 159, 228);
    border-radius: 5px;
    margin: 5px;
    text-decoration: none !important;
    padding: 5px;
}

.card-parent {
    width: 80%;
    padding: 20px;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: rgb(146, 228, 243);
    border-radius: 10px;
}

.bottom-card{
    display: flex;
    height: 50px;
    margin: auto;

}

.baby-card {
    box-sizing: border-box;
    display: inline-block;
    margin: 1rem;
}

.home-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin:10px;
}

body {
background-color: rgb(28, 49, 88);
overflow-x:hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(238, 232, 232, 0.564); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(85, 153, 243); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* ::-webkit-scrollbar-thumb:window-inactive {
    background:darkorchid; 
} */